@import "../../style/vars";
@import "../../style/mixins";

.page-index {
  .page-index-container {
    padding: 20px;

    .search-input {
      margin-bottom: 20px;
    }

    .list-repository {
      list-style: none;
      font-size: 14px;

      > li {
        padding: 20px 0;
        border-top: 1px solid #ddd;

        .title {
          font-size: 18px;
          color: $primary-color;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .star-info {
          font-size: 14px;
          margin-right: 20px;

          > svg,
          span {
            vertical-align: middle;
          }

          > svg {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
