@import "./base";
@import "./common";
@import "~antd/dist/antd.css";

html,
body {
  max-width: 750apx;
  margin: auto;
}

.page {
  min-height: 100vh;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  margin: auto;
}

.octicon {
  vertical-align: middle;
}

.tag {
  padding: 0 10px;
  line-height: 22px;
  font-size: 12px;
  border-radius: 4px;
  color: #0366d6;
  background-color: #f1f8ff;
  margin-right: 5px;
}
