@import "./base";
@import "./common";

html,
body {
  max-width: 750apx;
  margin: auto;
}

.page {
  min-height: 100vh;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  margin: auto;
}

.octicon {
  vertical-align: middle;
}
