$primary-color: #0366d6;

$text-primary: #ddd;

$font-family: "PingFang SC", Helvetica, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial,
  sans-serif;

$font-size-smaller: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-large: 20px;
$font-size-larger: 26px;

$text-darker: #000;
$text-dark: #111;
$text-normal: #333;
$text-light: #666;
$text-lighter: #999;

$link-color: #009cff;

$brand-primary: #007bff;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$bg-primary: $brand-primary;
$bg-success: $brand-success;
$bg-info: $brand-info;
$bg-warning: $brand-warning;
$bg-danger: $brand-danger;

$border-color: rgba(255, 255, 255, 0.2);

$line-height: 1.5;

$header-z: 1000;
